@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Change element";
}
<div>
    Change
</div>

@section Scripts{
    <script type="text/javascript" asp-src-include="~/js/Admin/Goods/appChangeGoods/*.js"></script>
}
