
@{ 
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Home";
    
}
@section Styles{
    <link rel="stylesheet" asp-href-include="~/css/Admin/*.css" />
}
<div class="main">
   
</div>

@section Scripts{
    <script type="text/javascript" asp-src-include="~/js/Admin/appOrders/*.js"></script>
<script type="text/javascript" asp-src-include="~/js/Admin/*.js"></script>
}