@{ 
    Layout = "_AdminLayout";
    ViewData["Title"] = "Remove element";
}
<div>
    Remove
</div>

@section Scripts{
    <script type="text/javascript" asp-src-include="~/js/Admin/Goods/appRemoveGoods/*.js"></script>
}
