@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Dilivery";
}
@section Styles{
    <style>
        .info-main {
            min-height: 95vh;
            margin-top: 50px;
        }

        .txt {
            font-size: 20px;
        }
    </style>
}
<div class="container info-main">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <span ng-if="language == 'EN'">
                            Text for delivery page
                        </span>
                        <span ng-if="language == 'RU'">
                            Текст для страницы доставки
                        </span>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10">
                        <address>
                            <strong>Email:</strong> <a href="mailto:solovey.itstep@gmail.com">Solovey.itstep@gmail.com</a><br />
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" asp-src-include="~/js/Home/Info/app/*.js"></script>
    <script>
        function Load() { }
        function FilterPosition() { }
    </script>
}







