@model AppleStore.ViewModels.Account.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@{ 
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes();}
<div class="login-page">
    <div class="form-title col-xs-12 text-center">
        <span>Login</span>
    </div>
    <form asp-controller="Auth" asp-action="Login" class="log-form" autocomplete="off" method="post" role="form">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger">
            <div class="col-xs-12">
                <input type="text" asp-for="Email" placeholder="Email" class="popup-input" />
            </div>
            <div class="col-xs-12">
                <input type="password" asp-for="Password" placeholder="Password" class="popup-input" />
            </div>
            <div class="col-xs-12 login-middle">
                <div class="col-xs-6 login-links">
                    <a href="#" class="gotoreg">Register</a><br />
                    <a href="#">Forgot password</a>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="login-button">Login</button>
                </div>
            </div>
        </div>
        <span class="text-danger error-text"></span><br />
    </form>
    <div class="social-login">
        <div class="col-xs-5">
            <div class="social-login-text">
                Login By
            </div>
        </div>
        <div class="col-xs-7 social-buttons-div">
            <form asp-controller="Auth" asp-action="ExternalLogin" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
                <div id="socialLoginList">
                        @foreach (var p in loginProviders)
                        {
                            <button type="submit" id="@p.AuthenticationScheme" name="provider" 
                                    title="Log in using your @p.DisplayName account" value="@p.AuthenticationScheme"></button>
                        }
                    <input type="text" class="hidden" name="returnUrl" value="/Home/Index" />
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function load(){
        setTimeout(function () {
            $(".authorization").css("left", "50%");
            $(".authorization").css("margin-left", "-175px");
        }, 500);
    }
    $(".authorization").css("left", "50%");
    $(".authorization").css("margin-left", "-175px");
    $(".popup-input").css("margin-left", "25px");
    $(".login-button").click(function (data) {
        $.ajax({
            type: "POST",
            url: "/Auth/Login",
            data: $(".log-form").serialize(),
            success: function (response) {
                if (response != "true") {
                    $(".error-text").html(response);
                }
                else if (response == "true") {
                    $(".dark_background").trigger("click");
                    $.ajax({
                        type: "GET",
                        url: "/api/user/currentuser",
                        success: function (userName) {
                            $(".lk").attr("title", userName);
                            $("#lk-img").attr("onmouseout", "this.src = '/images/HomeLayout/lk_login.png'");
                            $("#lk-img").attr("src","/images/HomeLayout/lk_login.png");
                        }
                    });
                }
            }
        });
    });
    $(".gotoreg").click(function () {
        $.ajax({
            url: "/Partials/Register",
            type: "POST",
            success: function (page) {
                $(".popup").html(page);
            }
        });
    });

</script>

