@font-face{
    font-family: OpenSans-Light;
    src: url(../../fonts/HomeLayout/OpenSans-Light.ttf);
}

.bottom-footer-links{
    font-family: OpenSans-Light;
    font-size: 18px;
    color: lightgray;
}
.bottom-footer-links:hover{
    color: lightgray;
}
.bottom-footer-links:active{
    color:lightgray;
}
.bottom-footer-links-container{
    position:relative;
    top: 60px;    
}
.bottom-footer-columns{
    height: 60px;
}
.bottom-navbar-bottom-links{
    position:center;
    bottom:0px;
    background: #343436;
    height: 100px;
    max-width: 1366px;
    margin:auto;
    margin-bottom: 0px;
    width: 100%;
    min-width: 600px;
}
.phones{
    position:relative;
    font-family:OpenSans-Light;
    font-size: 22px;
    color: white;
}
.bottom-info{
    padding-top: 40px;
    font-family: OpenSans-Light;
    color: lightgray;
}
.social-networks-bottom{
    position:relative;
    margin: auto;
    margin-left: 30px;
    right:70px;
    left: auto;
}
.logo-bottom{
    position:relative;
    padding-top: 20px;
    top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px){
    .large-footer{
        display: block;
    }
    .medium-footer{
        display: none;
    }
    
}
@media (min-width: 768px) and (max-width: 1200px){
    .phones{
        position:relative;
        margin-top: 30px;
    }
}
@media (max-width: 767px){
    .large-footer{
        display: none;
    }
    .medium-footer{
        display: block;
    }
    .bottom-footer-columns{
        height: 50px;
    }
    .phones{
        position:relative;
        margin-top: 30px;
        font-size: 16px;
    }
    .social-networks-bottom{
    position:relative;
    margin: auto;
    margin-left: 30px;
    right:120px;
    left: auto;
}
}







