@font-face{
    font-family: OpenSans-Light; /* Гарнитура шрифта */
    src: url(../../fonts/HomeLayout/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}
.dark_background{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 5;
    background: lightgray;
    opacity: 0.8;
}
.authorization{
    display: none;
    position:fixed;
    top: 15%;
    left: 50%;
    max-width: 600px;
    max-height: 400px;
    min-width: 350px;
    margin-left: -300px;
    z-index: 6;
    background: white;
    overflow-x: hidden;
    overflow-y: auto;
}
.close-popup-authorization{
    position:absolute;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    right:2px;
    display: none;
}
.close-popup-authorization:hover{
    cursor:pointer;
}
.close-popup-authorization:hover:before, .close-popup-authorization:hover:after{
    background-color: lightgray;
}
.close-popup-authorization:before,.close-popup-authorization:after{
    content: '';
    position:absolute;
    width: 23px;
    height: 2px;
    background-color:gray;
    border-radius: 2px;
    z-index: 7;
}
.close-popup-authorization:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.close-popup-authorization:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}
.top-nav-authorization{
    height: 70px;
    background: lightgray;
}
.authorization-top-text{
    margin-top: 10px;
    margin-left: 30px;
}
.authorization-top-text span{
    font-family: OpenSans-Light;
    font-size: 30px;
}
.authorization-form{
    height: 330px;
}

.close{
  color: black;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  z-index: 2;
}
.close:after {
  content: 'X';
}
.close:hover{
    cursor:pointer;
    color: gray;
}

.popup-input{
    width: 270px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: lightgray;
    padding-left: 10px;
    box-shadow: none;
    border: none;
    font-size: 15px;
    color: #989898;
    font-family: OpenSans-Light;
}
.form-title{
    top: 0px;
    height: 60px;
    padding-top: 10px;
}
.form-title span{
    font-family: OpenSans-Light;
    font-size: 25px;
    left: 15px;
    margin-left: 15px;
}
.popup-input:focus{
    box-shadow: none;
    border: 2px solid #989898;
    padding-left: 8px;
}
.popup-input input:focus{
    box-shadow: none;
    border: none;
}
textarea:focus, input:focus{
    outline: none;
}
.popup-register-button{
    width: 270px;
    height: 45px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #4d4c51;
    padding-left: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    color: white;
    font-family: OpenSans-Light;
}
.popup-register-info{

}
.popup-register-info{
    margin-left: 15px;
    color: black;
}
.login-page,.loggedin-page{
    width: 350px;
    height: 390px;
}
.login-middle{
    margin-top: 50px;
}
.login-button{
    background-color: #4d4c51;
    color: white;
    font-family: OpenSans-Light;
    width: 120px;
    height: 35px;
    box-shadow: none;
    border: none;
}
.login-links{
    margin-top: -5px;
}
.popup{
    position: relative;
    max-height:400px;
    /*top: -10px;*/   
}
.social-login{
    position: absolute;
    bottom: 30px;
    height: 75px;
    background: transparent;
    width: 100%;
}
.loggedin-page{
    margin-top: 10px;
    position: relative;
    max-height: 400px;
    margin: 0px;
    top: -10px;
}
.loggedin-title{
    height: 70px;
}
.loggedin-title span{
    font-family: OpenSans-Light;
    font-size: 40px;
    margin-top: 35px;
    color: #4d4c51;
    left: 25px;
}
.loggedin-info-text{
    position:relative;
    top: 10%;
    width: 350px;
}
.loggedin-info-text div span{
    font-family: OpenSans-Light;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.loggedin-byttons{
    position:relative;
    top: 20%;
    margin-left: 10%;
}
.socialLoginList{
    /*padding: 0px;
    position:relative;
    margin: 0px;*/
}
.social-login-text{
    position:relative;
    margin-left: 20px;
    margin-top: 10px;
    font-family: OpenSans-Light;
    font-size: 14px;
    left: 17px;
}
.social-login div{
    margin: 0px;
}
#Google, #Facebook{
    width: 60px;
    height: 39px;
    top: 13px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: none;
    border: none;
}
#Google {
    margin-left: 20px;
    background-image: url('/images/HomeLayout/Google-login.png');
}
#Facebook {
    background-image: url('/images/HomeLayout/Facebook_login.png');
    margin-left: 10px;
}
.social-buttons-div{
    position:relative;
    max-height: 47px;
    padding-top: 2px;
}
.pre-loader-popup{
    min-height: 400px;
    min-width: 400px;
    position: static;
    margin-top: -50px;
    background-color: lightgray;
    padding-top: 50px;
}

.ordering-login-button{
    height: 40px;
    min-height: 35px;
    color: white;
    font-family: OpenSans-Light;
}

@media (min-width: 1200px){
    
}
@media (min-width: 1024px) and (max-wodth: 1200px){
    
}
@media (min-width: 768px) and (max-width: 1024px) {
    
}
@media (max-width: 767px) and (min-width: 481px) {
    .authorization {
        top: 10%;
    }
}
@media (max-width: 480px) {
    .authorization {
        top: 5%;
        height: 90%;
    }
}


