@font-face{
    font-family: OpenSans-Light; /* Гарнитура шрифта */
    src: url(../../fonts/HomeLayout/OpenSans-Light.ttf); /* Путь к файлу со шрифтом */
}
body{
    max-width: 100%;
}
html{
    position:relative;
    height: 100%;
}
.main{
    max-width: 1366px;
    min-width: 600px;
    /*box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2), 2px 6px 20px 2px rgba(0, 0, 0, 0.19);*/
    position: relative;
    margin:auto;
    background-color: white;
    overflow: hidden;

}
/*=====Top navbar=====*/
.top-navbar{
    width: 100%;
    background-color: white;
    height: 70px;
}
.top-navbar-row{
    position: relative;
    transform: translateY(100%);
    top: -40px;
    max-width: 1360px;
}
.top-navbar-menu{
    position: absolute;
    right: 30px;
    padding-right: 5px;
    padding-left:5px;
    width: 300px;
    margin-top: -25px;
}
.logo{
    margin-left: 150px;
}
.navbar-item:hover, .navbar-item:active, .navbar-item:visited, .navbar-item:link{
    text-decoration: none;
}
#language,#currencyvalue{
    position: absolute;
    font-size: 18px;
    color: #4d4c51;
    font-family: OpenSans-Light;
    margin-left: 10px;
}
#language:hover,#currencyvalue:hover{
    color: #4d4c51;
    text-decoration-color: #4d4c51;
}
.top-menu-link:hover{
    text-decoration:none;
}
.not-active-menu:hover{
    content: url('../../images/HomeLayout/gam_menu_hover.png');
}
.active-menu:hover {
    rotation: 0deg;
    -webkit-animation: rotate 300ms linear 0s;
    animation: rotate 300ms linear 0s;
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(90deg);
    }
}
@keyframes rotate{
    100%{
        transform: rotate(90deg);
    }
}

.info-panel-links{
    color: lightgray;
}
.info-panel-links:hover{
    color:white;
}
/*==============Menu line====================*/
.menu-line{
    background-color: #4d4c51;
    width: 100%;
    max-height: 1366px;
    height: 0px;
    /*transition: height 0.8s linear 0s;*/
}
.info-panel{
    position: relative;
    top: 30%;
    margin-left: 35px;
}
.info-text-link{
    color: lightgray;
}
.info-text-link:hover{
    color: white;
}
.dropdown-menu{
    position: relative;
    width: 97.5%;
    box-shadow: none;
    outline: none;
}
.dropdown-menu .ng-scope a{
    color: gray;
}
.search-input{
    border: none;
    width: 100%;
    height: 35px;
    padding-left: 20px;
    padding-right:50px;
    height: 0px;
    opacity: 0;
}
.search-input:focus{
    border:none;
    outline: none;
}
/*================Link panel==================*/
.link-panel{
    background-color: white;
    max-width: 1366px;
    width: 100%;
    height: 0px;
}
.link-texts{
    position: relative;
    top: 30%;
}
.link-text-item{
    font-size: 20px;
    color: #4d4c51;
}
.link-text-item:hover{
    color: #4d4c51;
}

/*=========== navbar bottom=========================*/
.bottom-navbar{
    position:relative;
    height: 400px;
    max-width: 1366px;
    width: 100%;
    background: #4d4c51;
    color: #e4e4e4;
    padding-left: 0px;
    padding-right: 0px;
}
#go-search{
    position: absolute;
    margin-left: 40px;
    left: auto;
    right: 0px;
    margin-top: 25px;
}
#go-search:hover{
    cursor:pointer;
}
/*=================animate=================*/
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}
/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0);}
}
/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter           { animation: slideInRight 1s both ease-in; }
.ng-leave           { animation: rotateFall 0.5s both ease-in; }
    
/*====================*/