.route{
    width: 600px;
    height: 400px;
}
.cart-main{
    background-color: aqua;
}
.cart-items{
    background-color: blue;
}
.cart-title{
    position:relative;
    height: 70px;
    padding-left: 20px;
}
.image-div{
    position: relative;
    width: 70px;
    height: 70px;
    left: 0px;
}
.cart-item-img{
    position: relative;
    display: block;
    max-width: 50px;
    height: 50px;
    margin-left:auto;
    margin-right: auto;
}

/*.cart-item-img-div{
    position: relative;
    width: 20%;
}
.cart-item-img{
    position: relative;
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin-left:auto;
    margin-right: auto;
}*/


