@model Int32

@{ 
    Layout = "_HomeLayout";
}
<div ng-init="init(@Model)">
    <h1>
        {{item.Model}}
    </h1>
</div>
@section Scripts{
    <script asp-src-include="~/js/ipad/elementApp/*.js" type="text/javascript"></script>
    <script asp-src-include="~/js/ipad/*.js" asp-src-exclude="~/js/iPad/filter.js" type="text/javascript"></script>
}